body{
	color:#444;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:135%;
	margin:0
}
.post-content {
	width: 960px;
	margin: 10px;
	position: relative;
}
a {
	color: darkblue;
}

h1 {
	line-height: 1.1em;
	color: #093;
}

table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0 !importanty;
	border-collapse: collapse !important;
	border: none
}
tr {
	border-bottom: 1px solid #ddd;
}
tr > th {
	border-top: 1px solid #ddd;
}
tr > th, tr > td {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
	padding: 4px;
	font-size: 0.9em;
}
.crp_related {
	font-size: 0.9em;
}
.crp_related ul {
	list-style-type: none;
}
.crp_related ul  li{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.crp_related ul  li img {
	width: 100px;
	height: 100px;
}
.crp_related ul  li span {
	display: block;
}